<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>forgot-password</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />

    <link href="assets/img/favicon.png" rel="icon" />

    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />

    <link
      rel="stylesheet"
      href="assets/plugins/fontawesome/css/fontawesome.min.css"
    />
    <link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css" />

    <link rel="stylesheet" href="assets/css/feather.css" />

    <link rel="stylesheet" href="assets/css/style.css" />
  </head>
  <body class="account-page">
    <%- include('patial/header') %>
    <div class="main-wrapper">
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8 offset-md-2">
              <div class="account-content">
                <div class="row align-items-center justify-content-center">
                  <div class="col-md-7 col-lg-6 login-left">
                    <img
                      src="assets/img/login-banner.png"
                      class="img-fluid"
                      alt="Login Banner"
                    />
                  </div>
                  <div class="col-md-12 col-lg-6 login-right">
                    <div class="login-header">
                      <h3>Forgot Password?</h3>
                      <p class="small text-muted">
                        Enter your email to get a password reset link
                      </p>
                    </div>

                    <form action="">
                      <div class="form-group form-focus">
                        <input type="email" class="form-control floating" />
                        <label class="focus-label">Email</label>
                      </div>
                      <div class="text-end">
                        <a class="forgot-link" href="/login"
                          >Remember your password?</a
                        >
                      </div>
                      <button
                        class="btn btn-primary w-100 btn-lg login-btn"
                        type="submit"
                      >
                        Reset Password
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      data-cfasync="false"
      src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"
    ></script>
    <script src="assets/js/jquery-3.6.0.min.js"></script>

    <script src="assets/js/bootstrap.bundle.min.js"></script>

    <script src="assets/js/feather.min.js"></script>

    <script src="assets/js/script.js"></script>
  </body>

  <!-- Mirrored from KESA-html.dreamguystech.com/template/forgot-password.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 20 Nov 2022 18:56:42 GMT -->
</html>
