<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Onboarding Verification</title>

    <link href="assets/img/favicon.png" rel="icon" />

    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />

    <link rel="stylesheet" href="assets/css/owl.carousel.min.css" />

    <link
      rel="stylesheet"
      href="assets/plugins/fontawesome/css/fontawesome.min.css"
    />
    <link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css" />

    <link rel="stylesheet" href="assets/css/style.css" />
  </head>
  <body>
    <div class="onboard-wrapper">
      <div class="left-panel">
        <div class="onboarding-logo text-center">
          <a style="color: whitesmoke; font-size: 20px" href="#"> K E S A</a>
        </div>
        <div class="onboard-img">
          <img
            src="assets/img/onboard-img/onb-slide-img.png"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="onboarding-slider">
          <div
            id="onboard-slider"
            class="owl-carousel owl-theme onboard-slider slider"
          >
            <div class="onboard-item text-center">
              <div class="onboard-content">
                <h3>Welcome to K E S A</h3>
                <p>
                  Welcome to Kagon Edo E-Health Services Please Verify Your
                  Account
                </p>
              </div>
            </div>
            <div class="onboard-item text-center">
              <div class="onboard-content">
                <h3>Welcome to K E S A</h3>
                <p>
                  Activate your Acount to Access World class Health Services
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="right-panel">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 p-0">
              <div class="right-panel-title text-center">
                <!-- <a href="#"> -->
                <a style="color: whitesmoke; font-size: 20px" href="#">
                  K E S A
                </a>
                <!-- <img src="assets/img/onboard-img/onb-logo.png" alt=""
                /> -->
                <!-- </a> -->
              </div>
            </div>
            <div class="col-lg-4 col-md-12">
              <div class="on-board-wizard">
                <ul>
                  <li>
                    <a href="#">
                      <div class="onboarding-progress active">
                        <span>1</span>
                      </div>
                      <div class="onboarding-list">
                        <h6>Registration</h6>
                        <p>Enter Details for Register</p>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="onboarding-progress">
                        <span>2</span>
                      </div>
                      <div class="onboarding-list">
                        <h6>Upload Identity</h6>
                        <p>Upload your Identity for Verification</p>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="onboarding-progress">
                        <span>3</span>
                      </div>
                      <div class="onboarding-list">
                        <h6>Personal Details</h6>
                        <p>Enter your Personal Details</p>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="onboarding-progress">
                        <span>4</span>
                      </div>
                      <div class="onboarding-list">
                        <h6>Doctor Verification</h6>
                        <p>Upload Documents for the Verification</p>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="onboarding-progress">
                        <span>5</span>
                      </div>
                      <div class="onboarding-list">
                        <h6>Payment details</h6>
                        <p>Setup Your Payment Details</p>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="onboarding-progress">
                        <span>6</span>
                      </div>
                      <div class="onboarding-list">
                        <h6>Preferences</h6>
                        <p>Setup Your Preferences for your Account</p>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-8 col-md-12">
              <div class="onboarding-content-box content-wrap">
                <div class="onboard-set">
                  <div class="onboarding-title">
                    <h2>Enter 4-digit code sent to your email.</h2>
                    <h6>We’ve sent it to Register-Email or Phone Number ></h6>
                  </div>
                  <div class="onboarding-content passcode-wrap">
                    <div class="d-flex digit-group">
                      <input
                        type="text"
                        id="digit-1"
                        name="digit_1"
                        data-next="digit-2"
                        onkeyup="handleChange(this)"
                      />
                      <input
                        type="text"
                        id="digit-2"
                        name="digit_2"
                        data-next="digit-3"
                        data-previous="digit-1"
                        onkeyup="handleChange(this)"
                      />
                      <input
                        type="text"
                        id="digit-3"
                        name="digit_3"
                        data-next="digit-4"
                        data-previous="digit-2"
                        onkeyup="handleChange(this)"
                      />
                      <input
                        type="text"
                        id="digit-4"
                        name="digit_4"
                        data-next="digit-5"
                        data-previous="digit-3"
                        onkeyup="handleChange(this)"
                      />
                    </div>
                  </div>
                </div>
                <div class="onboarding-btn">
                  <a onclick="handleOtpSubmit(this)">Continue</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      data-cfasync="false"
      src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"
    ></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>

    <script src="assets/js/jquery-3.6.0.min.js"></script>

    <script src="assets/js/owl.carousel.min.js"></script>

    <script src="assets/js/script.js"></script>
    <script src="script/index.js"></script>
  </body>
</html>
