<footer class="footer">
  <div class="footer-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="footer-widget footer-about">
            <div class="footer-logo">
              <!-- <img src="assets/img/footer-logo.png" alt="logo" /> -->
              <a  class="social-icon" href="/"><li style="color: white; cursor: pointer; font-size: 30px;">  K E S A </li> </a>
            </div>
            <div class="footer-about-content">
              <p>
               @ Kagon Edo E-health Services,  
               We are determined to deliver World standard Health
               Solution to every locals in Edo State

              </p>
              <div class="social-icon">
                <ul>
                  <li>
                    <a href="#" target="_blank"
                      ><i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#" target="_blank"
                      ><i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#" target="_blank"
                      ><i class="fab fa-linkedin-in"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#" target="_blank"
                      ><i class="fab fa-instagram"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#" target="_blank"
                      ><i class="fab fa-dribbble"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="footer-widget footer-menu">
            <h2 class="footer-title">For Patients</h2>
            <ul>
              <li><a href="/search-doctors">Search for Doctors</a></li>
              <li><a href="/patient/dashboard">Account</a></li>
              <li><a href="/products">Store</a></li>
              <li>
                <a href="patient-dashboard">Patient Dashboard</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="footer-widget footer-menu">
            <h2 class="footer-title">For Doctors</h2>
            <ul>
              <li><a href="login">Login</a></li>
              <li><a href="register">Register</a></li>
              <li>
                <a href="/doctor-dashboard">Doctor Dashboard</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="footer-widget footer-contact">
            <h2 class="footer-title">Contact Us</h2>
            <div class="footer-contact-info">
              <div class="footer-address">
                <span><i class="fas fa-map-marker-alt"></i></span>
                <p>
                  3556 EdoTech-Pack Ehen okhuoromi ,<br />
                  Benin City, Edo State, Nigeria.
                </p>
              </div>
              <p>
                <i class="fas fa-phone-alt"></i>
                +234-8149-220-0054
              </p>
              <p class="mb-0">
                <i class="fas fa-envelope"></i>
                <link>kesa@gmail.com</link>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container-fluid">
      <div class="copyright">
        <div class="row">
          <div class="col-md-6 col-lg-6">
            <div class="copyright-text">
              <p class="mb-0">
                &copy; 2022 KESA. All rights reserved.
              </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-6">
            <div class="copyright-menu">
              <ul class="policy-menu">
                <li>
                  <a href="term-condition.html">Terms and Conditions</a>
                </li>
                <li><a href="privacy-policy.html">Policy</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
